// CREATE THEME
// BACKGROUND COLOR
$primary: #ffffff;
$secondary: #0f7c90;
$cyan: #2896a9;
$pale: #fff7f0;
$light: #fbfbf8;
$red: #e61b1b;
$grey: #898596;

// TEXT COLOR
$cPrimary: #3c3b37;
$cSecondary: #0f7c90;
$cOrange: #eb8a2f;
$cWhite: #ffffff;

//FONT SIZE
$h1: 40px;
$h2: 32px;
$h3: 28px;
$h4: 25px;
$h5: 24px;
$h6: 20px;
$subtitle1: 18px;
$subtitle2: 16px;
$body1: 14px;
$body2: 12px;

//FONT WEIGHT
$bolder: 900;
$bold: 700;
$semiBold: 600;
$medium: 500;
$regular: 400;
$light: 300;

//SPACING
$spacing: 10px;
